<div>
  <div class="wrapper">
    <form method="get">
      {{myFilter.form}}
      <!-- <div class="search_field">        
        <input class="search_box" id="searchbox" name="q" method='GET' action="." type="text" value="{{ request.GET.q }}" placeholder="Search...">
        <i class="fa fa-search"></i>
        
        <div class="dropdown">
        <div class="type">
            <select name="type" id="type">
            <option value="">Type</option>
            <option value="bug">Bug</option>
            <option value="feature">Feature</option>
            <option value="document">Document</option>
            </select>
        </div>
        
        <div class="assignee">
            <select name="assignees" id="assignee" >
            <option value="">Assignee(s)</option>
            <option value="user1">brooke.dobbins</option>
            <option value="user2">james.hannah</option>
            <option value="user3">divergentNate</option>
            </select>
        </div>
        <div class="state">
            <select name="state" id="state">
            <option value="">State</option>
            <option value="new">New</option>
            <option value="inprogress">In Progress</option>
            <option value="done">Done</option>
            </select>
        </div>
    </div> -->
      <input type="submit" name="submit" value="Search" />

  </div>
  </form>



<div class="tickets">
  <table>
    <col style="width:5%">
    <col style="width:15%">
    <col style="width:20%">
    <col style="width:15%">
    <col style="width:10%">
    <th>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Title</th>
        <th>Assignee(s)</th>
        <th>State</th>
      </tr>
    </th>
    <tbody>
      {% for ticket in tickets %}
      <tr>

        <td>{{ ticket.id }}</td>
        <td>{{ ticket.type }}</td>
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.assignees }}</td>
        <td id="new">
          <p>{{ ticket.state }}</p>
        </td>
      </tr>
      {% endfor %}
      <!-- <tr>
          <td>2</td>
          <td>Feature</td>
          <td>Edit Account Wireframe</td>
          <td>lauren.woods</td>
          <td id="done"><p>Done</p></td>
        </tr>     -->
    </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>

</div>