.account h1, .account h2,.account h3, .account label{
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.account h1 {
    padding-bottom: 5px;
}

.account h2, .account h3 {
    padding-left: 10px;
}

.personal_info label {
    font-size: 80%;
    font-weight: bold;
    padding-left: 15px;
}

.personal_info, .change_pw, .delete_account, .acc_api_key {
    width: 500px;
    height:auto; 
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;    
    margin-bottom: 2em;
    overflow: auto;    
}

.acc_api_key {   
    float: right;
    font-size: 20px; 
    margin-right: 40px;
}

.personal_info input {
    margin-left: 10%;
}

.profile_photo button, .personal_info button {
    background-color: #bb285c;
    color:white; 
    margin-left: 15px;
    border-radius: 6px;
    border-color: #bb285c;
}

.profile_photo button, .personal_info button {
    width: auto;
    border-color: lightgray;
}

.profile_photo {
    min-width: 300px;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
    position: relative;
    margin-right: 40px;
    float: right;
    padding: 10px;
    margin-bottom: 2em;
}

.profile_photo button {    
    margin-top: 30px; 
    margin-left: 40%;
    margin-bottom: 10px;
}

.profile_photo img {    
    display: block;    
    margin-left: auto;
    margin-right: auto;    
}