.search_field {
    position: relative;
}

.search_field input{
    border: none transparent;
    border-radius: 5px;
    outline: none;
    background-color: #f7f6f6;
    margin-top: 7px;
    width: 85%;  
    padding-left: 45px;    
}

.search_field i {
    position: absolute;
    left: 5px;
    top: 14px;
    color: grey;
    padding: 1px;
}

.dropdown #type, #assignee, #state{    
    border: none transparent;
    border-radius: 5px;
    outline: none;
    background-color: #f7f6f6;
    font-size: 20px;
    color: grey;
}
.dropdown {
    position: relative;    
}
.type {
    position: absolute;
    top: -45px;
    right: 43%;
}

.assignee {
    position: absolute;
    top: -40px;
    right: 30%;
}

.state {
    position: absolute;
    top: -45px;
    right: 20%;    
}

.tickets {
    margin-top: 20px;
}

.tickets p{    
    color: white;
    border-radius: 20px;
    text-align: center;
    width: auto;
}

#new p{
    background-color: red;
}

#done p{
    background-color: #92d36e;
}
