.search_field {
    position: relative;
    background-color: #f7f6f6;
    margin: 5px;
    min-width: 950px;
}

.search_field input{
    border: none transparent;
    border-radius: 5px;
    outline: none;
    margin-top: 7px;
    width: 85%;  
    font-size: 20px;   
}

.search_field i {
    color: grey;
    padding: 1px;
    margin: 5px;
    font-size: 20px;
}

.search_title {
    float: left;
    width: 30%;
}

.search_field #type, #assignee, #state, #title{    
    border: none transparent;
    border-radius: 5px;
    outline: none;
    background-color: #f7f6f6;
    font-size: 20px;
    color: grey;
    display: inline;
}

.tickets {
    margin-top: 20px;
}

.tickets p{    
    color: white;
    border-radius: 20px;
    text-align: center;
    width: auto;
}

#new p{
    background-color: red;
}

#done p{
    background-color: #92d36e;
}
