.card.draggable {
    cursor: grab;
    padding: 20px;
    border: solid;
    border-color: #ebebeb;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-title {
    font-size: 20px;
    margin-top: -10px;
    padding: 10px;
}

.droppable {
    background-color: var(--success);
    min-height: 120px;
    margin-bottom: 1rem;
}

.column {
    background-color: lightgray;
    margin: 20px;
    border-radius: 25px;
    padding: 20px;
    display: table-cell;
    min-width: 300px;
    max-width: 800px;
    /* Couldn't get height to work */
    height: 100%;
}

.items {
    background-color: white;
}