.profile_photod button {
    /* position:absolute;
    top: 50%;    
    left: 12%; */
    background-color: #bb285c;
    color:white;
    /* margin-left: 15px; */
    border-radius: 6px;
    border-color: #bb285c;
    position: relative;
}



.profile_photod img {
    /* position: absolute; */
    /* float: left;
    margin: 20px; */
    /* left: 10%;
    top: 28%; */

}

.profile_photod {
    float: left;
    margin: 50px;
    text-align: center;
    /* display: block; */
}

.project_details {
    /* position: absolute; */
    float: left;
    margin: 20px;
    /* right: 50%; */
}

.project_details input {
    background-color: #ebebeb;
    border-color: #ebebeb;
}

.project_details textarea {
    background-color: #ebebeb;
    border-color: #ebebeb;    
}

.user-row {

    border-bottom: 2px solid;
    border-color: lightgray;
    padding: 20px;
    margin: 20px;
    font-size: 16px;
    width: 70%;
}

.user-row i{
    float: left;

}

.user-info {
    /* float: left; */
    display: block;
    margin-left: 100px;
}

/* .access1 h2{
    position: absolute;
    left: 10%;
} */

.access1 hr {
	border-top: 3px solid #cccccc;
    width: 30%;
}

.access1 #circ1, #circ2, #circ3, #circ4, #circ5, #circ6 {
    color: dimgray;
    font-size: 40px;
}

/* .access1 #circ1 {
    position: absolute;
    left: 10%;
    top: 30%;    
}

.access1 .users {
    position: absolute;
    left: 14%;
    top: 30%;
}
.access1 .line {
    position: absolute;
    left: 14%;
    top: 35%;
}

.access1 #circ2 {
    position: absolute;
    left: 10%;
    top: 41%; 
}

.access1 .line2 {
    position: absolute;
    left: 14%;
    top: 46%;
}

.access1 #pending {
    position: absolute;
    left: 40%;
    top: 54%;
} */

.access1 .button1, .button2 {
    color: white;
    background-color: limegreen;
    border-color: limegreen;
    border-radius: 5px;
    padding: 8px;
    font-size: 20px;
}

/* .access1 .button1 {    
    position: absolute;
    left: 10%;
    top: 61%;
}

.access1 .button2 {    
    position: absolute;
    left: 10%;
    top:  110%;
}

.access1 #circ3 {
    position: absolute;
    left: 10%;
    top: 51%; 
}

.access1 .collab{
    position: absolute;
    top: 70%;
    left: 10%;
}

.access1 .collaborators {
    position: absolute;
    left: 14%;
    top: 78%;
}

.access1 .line3 {
    position: absolute;
    left: 14%;
    top: 83%;
}

.access1 .line4 {
    position: absolute;
    left: 14%;
    top: 94%;
}

.access1 #circ4 {
    position: absolute;
    left: 10%;
    top: 78%;
}

.access1 #circ5 {
    position: absolute;
    left: 10%;
    top: 89%;
}

.access1 #circ6 {
    position: absolute;
    left: 10%;
    top: 100%;
} */
.access1 #trash1, #trash2 , #trash3 {
    color: dimgray;
    font-size: 30px;
}

/* .access1 #trash1 {
    position: absolute;
    left: 40%;
    top: 80%;    
}

.access1 #trash2 {
    position: absolute;
    left: 40%;
    top: 90%;    
}

.access1 #trash3 {
    position: absolute;
    left: 40%;
    top: 100%;    
} */