.flex-container {
    margin: 20px 0px;
    width: 98%;
    display: grid;
    grid-template: auto auto / 50% 45%;
    grid-gap: 45px;
}

.states-container {
    min-width: 400px;
}

.types-container {
    min-width: 250px;
}

.attributes-container {
    min-width: 400px;
}

.relationships-container {
    min-width: 250px;
}

.content-header {
    margin-bottom: 7px;
}

.content-title {
    font-weight: bold;
    float: left;
}

.content-button {
    float: right;
}

.template-content-container {
    border-radius: 25px !important;
    background-color: #ebebeb !important;
    padding: 5px 20px 5px 20px !important;
    color: #000000;
}

.ticket-template-content {
    list-style: none;
    clear: left;
    padding-left: 0px;
}

.state-content-item {
    display: grid;
    grid-template: 80px / 50px auto;
    text-align: center;
    column-gap: 20px;
    margin: 20px 0px;
}

.content-button {
    background-color: #ebebeb;
    border: none;
    color: #7a7a7a !important;
    width: 120px;
    font-size: 80%;
}

.position {
    padding: 40% 10%;
    border: #000000 1px solid;
    background-color: #ffffff;
}

.inner-state-content-item {
    display: grid;
    grid-template: 100% / 50px 30px auto 70px;
    background-color: #ffffff !important;
    margin: 0px 5px;
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.93);
    align-items: center;
}

.type-content-item {
    display: grid;
    grid-template: 100% / 30px auto 70px;
    background-color: #ffffff !important;
    margin: 0px 5px;
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.93);
    align-items: center;
    margin: 20px 0px;
    text-align: center;
    padding: 16px 0px 16px 12px;
}

.attribute-content-item {
    display: grid;
    grid-template: 100% / auto 70px;
    background-color: #ffffff !important;
    margin: 0px 5px;
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.93);
    align-items: center;
    margin: 20px 0px;
    text-align: center;
    padding: 16px 0px 16px 12px;
}

.relationship-content-item {
    display: grid;
    grid-template: 100% / auto 70px;
    background-color: #ffffff !important;
    margin: 0px 5px;
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.93);
    align-items: center;
    margin: 20px 0px;
    text-align: center;
    padding: 16px 0px 16px 12px;
}

.content-name {
    height: 38px !important;
    width: 250px;
}

.content-color {
    height: 48px !important;
    width: 25px;
    outline: none;
}

.content-item-button {
    background-color: #ffffff;
    border: none;
    color: #7a7a7a
}

.empty-message {
    padding: 15px 10px;
    margin: 13px 0px 13px 0px;
    background-color: #ffffff;
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.93);
    border-radius: 25px;
}

.save-button-container {
    text-align: center;
}

.save-button {
    margin: 30px 0px 20px 0px;
    padding: 5px 0px;
    background-color: #bb285c;
    border-radius: 6px;
    color: white;
    width: 125px;
}