.flex-container {
    margin-top: 20px;
    width: 90%;
    max-width: 90%;
    display: grid;
    grid-template: auto auto / auto auto;
    grid-gap: 45px;
}

.states-container {
    min-width: 400px;
}

.types-container {
    min-width: 250px;
}

.attributes-container {
    min-width: 400px;
}

.relationships-container {
    min-width: 250px;
}

.content-header {
    margin-bottom: 7px;
}

.content-title {
    font-weight: bold;
    float: left;
}

.content-button {
    float: right;
}

.template-content-container {
    border-radius: 25px;
    background-color: #ebebeb;
    padding: 12px 10px 5px 5px;
}

.ticket-template-content {
    list-style: none;
    clear: left;
    padding-left: 0px;
}

.content-item {
    display: grid;
    grid-template: 100% / 50px auto;
    height: 50px;
    text-align: center;
}

.position {
    padding: 10% 10%;
    background-color: #ffffff;
    margin-left: 10px;
}

.inner-content-item {
    display: grid;
    grid-template: 100% / auto 30px auto 70px;
    background-color: #ffffff !important;
    margin: 0px 5px;
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.93);
}

input.inner-content-item {
    height: 70%;
    width: 100px;
}

.content-color {
    width: 25px;
    height: 100%;
}