<!DOCTYPE html>
<html lang="en">

<head>
 
      {% block title %}  <title>Draft2Digital / Test Bookstore</title> {% endblock %}
    
            
    {% load static %}
            
    
        
</head>
  


<body style="overflow-x: visible">
    {% load static %}
   
    {% endblock %}
      </div>
      
      <div class="content1" style = "position:relative; display:block; padding-top: 5%;"> 

        {% block content %}{% endblock %}
         <!--The content of the page goes here-->

      </div>
    </div>
    
  </div>
</body>
</html>