{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/project_detail.css' %}">
{% endblock stylesheets %}

{% block content %}

<div class="access1">
    <button class="button button1" data-toggle="modal" data-target="#add_user" style="float: right;" >Add User</button>
    <h2>Administrators</h2>    
    <!-- <i class="fa fa-user-circle" id="circ1"></i>   -->
    {% for role in project.roles.all %}
    {% if role.role == "is_admin" %} 
    <div class="user-row">
        <i class="fa fa-user-circle" id="circ2"></i> 
        <div class="user-info">
            <p><strong>{{ role.profile.user.username }}</strong></p>
            {% if role.role == "is_admin" %}
            <button class="btn" style="float: right;">Demote</button>
            {% endif %}
            <p><strong>{{ role.profile.user.email }}</strong></p>
            
            <!-- <p>{{ role.email }}</p>   -->
        </div>
        <!-- <p id="pending">Pending.....</p> -->
    </div>
    {% endif %}
    {% endfor %}
   
    
    <div class="collabheader"><h2>Collaborators</h2></div> 
    {% for role in project.roles.all %}
    {% if role.role == "is_normal" %} 
    <div class="collab-row"> 
        <i class="fa fa-user-circle" id="circ2"></i> 
        <div class="collab-info">
            <p><strong>{{ role.profile.user.username }}</strong></p>
            <button class="btn" style="float: right;">Delete</button>
            <p><strong>{{ role.profile.user.email }}</strong></p>
            
            <!-- <p>{{ user.email }}</p>             -->
        </div>   
    </div> 
    {% endif %}
    {% endfor %}  
    
    
</div>



{% include "user/add_user.html" %}

{% endblock content %}