
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ticket_template.css' %}">

<div class="ticket-template-body">
    <form form action="" method="POST">
        {% csrf_token %}
        <input id="section" name="section" type="hidden" value="ticket_template">
        <div class="flex-container">
            <div class="states-container">
                <div class="content-header">
                    <p class="content-title">States</p>
                    <button class="content-button" onclick="addElement('state')" type="button"><i class="fa fa-plus" aria-hidden="true"></i>  Add</button>
                </div>
                <br>
                <div class="template-content-container">
                    <ul class="ticket-template-content sortable" id="state-list">
                        {% if states %}
                            <div class="empty-message" id="state-empty" style="display: none;">This project does not currently have any states.</div>
                            {% for state in states %}
                                <li class="state-content-item" id="state-li{{ forloop.counter }}">
                                    <div class="position">
                                        <div>{{ forloop.counter }}</div>
                                        <input name="state-position{{ forloop.counter }}" type="hidden" value="{{ forloop.counter }}"></input>
                                    </div>
                                    <div class="inner-state-content-item">
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                        <input name="state-color{{ forloop.counter }}" class="content-color" type="color" value="{{ state.color }}"></input>
                                        <input name="state-name{{ forloop.counter }}" class="content-name" value="{{ state.state_name }}"></input>
                                        <button class="content-item-button" id="state-item-button{{ forloop.counter }}" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <div class="empty-message" id="state-empty" style="display: block;">This project does not currently have any states.</div>
                        {% endif %}
                    </ul>
                </div>
                <input name="state-number" id="state-number" type="hidden" value="{{ states|length }}"></input>
            </div>
            <div class="types-container">
                <div class="content-header">
                    <p class="content-title">Types</p>
                    <button class="content-button" onclick="addElement('type')" type="button"><i class="fa fa-plus" aria-hidden="true"></i>  Add</button>
                </div>
                <br>
                <div class="template-content-container">
                    <ul class="ticket-template-content" id="type-list">
                        {% if types %}
                            <div class="empty-message" id="type-empty" style="display: none;">This project does not currently have any types.</div>
                            {% for type in types %}
                                <li class="type-content-item" id="type-li{{ forloop.counter }}">
                                    <input name="type-color{{ forloop.counter }}" class="content-color" type="color" value="{{ type.color }}"></input>
                                    <input name="type-name{{ forloop.counter }}" class="content-name" value="{{ type.type_name }}"></input>
                                    <button class="content-item-button" id="type-item-button{{ forloop.counter }}" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </li>
                            {% endfor %}
                        {% else %}
                            <div class="empty-message" id="type-empty" style="display: block;">This project does not currently have any types.</div>
                        {% endif %}
                    </ul>
                </div>
                <input name="type-number" id="type-number" type="hidden" value="{{ types|length }}"></input>
            </div>
            <div class="attributes-container">
                <div class="content-header">
                    <p class="content-title">Additional Attributes</p>
                    <button class="content-button" onclick="addElement('attribute')" type="button"><i class="fa fa-plus" aria-hidden="true"></i>  Add</button>
                </div>
                <br>
                <div class="template-content-container">
                    <ul class="ticket-template-content" id="attribute-list">
                        {% if attributes %}
                            <div class="empty-message" id="attribute-empty" style="display: none;">This project does not currently have any attributes.</div>
                            {% for attribute in attributes %}
                                <li class="attribute-content-item" id="attribute-li{{ forloop.counter }}">
                                    <input name="attribute-name{{ forloop.counter }}" class="content-name" value="{{ attribute.name }}"></input>
                                    <button class="content-item-button" id="attribute-item-button{{ forloop.counter }}" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </li>
                            {% endfor %}
                        {% else %}
                            <div class="empty-message" id="attribute-empty" style="display: block;">This project does not currently have any attributes.</div>
                        {% endif %}
                    </ul>
                </div>
                <input name="attribute-number" id="attribute-number" type="hidden" value="{{ attributes|length }}"></input>
            </div>
            <div class="relationships-container">
                <div class="content-header">
                    <p class="content-title">Relationships</p>
                    <button class="content-button" onclick="addElement('relationship')" type="button"><i class="fa fa-plus" aria-hidden="true"></i>  Add</button>
                </div>
                <br>
                <div class="template-content-container">
                    <ul class="ticket-template-content" id="relationship-list">
                        {% if relationships %}
                            <div class="empty-message" id="relationship-empty" style="display: none;">This project does not currently have any relationships.</div>
                            {% for relationship in relationships %}
                                <li class="relationship-content-item" id="relationship-li{{ forloop.counter }}">
                                    <input name="relationship-name{{ forloop.counter }}" class="content-name" value="{{ relationship.name }}" style="width: 450px"></input>
                                    <button class="content-item-button" id="relationship-item-button{{ forloop.counter }}" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </li>
                            {% endfor %}
                        {% else %}
                            <div class="empty-message" id="relationship-empty" style="display: block;">This project does not currently have any relationships.</div>
                        {% endif %}
                    </ul>
                </div>
                <input name="relationship-number" id="relationship-number" type="hidden" value="{{ relationships|length }}"></input>
            </div>
        </div>
        <div class="save-button-container">
            <button class="save-button" id="ticket-template-save" type="submit">Save</button>
        </div>
    </form>
</div>

<script>
    $( function() {
        $( ".sortable" ).sortable({
            placeholder: "ui-state-highlight",
            update: function() {
                listItems = document.getElementsByClassName('state-content-item');

                for (var i = 1; i <= listItems.length; i++) {
                    listItems[i - 1].id = 'state-li' + i;

                    children = listItems[i - 1].children;
                    children[0].children[0].innerHTML = i;
                    children[0].children[1].name = "state-position" + i;
                    children[0].children[1].value = i;

                    var subChildren = children[1].children;
                    subChildren[1].name = "state-color" + i;
                    subChildren[2].name = "state-name" + i;
                    subChildren[3].id = "state-item-button" + i;
                }
            }
        }).disableSelection();
    } );

    function addElement(typeName) {
        switch(typeName) {
            case "state":
                $("#state-empty").css("display", "none");

                var nextPosition = document.getElementsByClassName('position').length + 1;

                $('#state-list').append('<li class="state-content-item" id="state-li' + nextPosition + '"><div class="position"><div>' + nextPosition + '</div><input name="state-position' + nextPosition + '" type="hidden" value="' + nextPosition + '"></input></div><div class="inner-state-content-item"><i class="fa fa-bars" aria-hidden="true"></i><input name="state-color' + nextPosition + '" class="content-color" type="color" value="#' + Math.floor(Math.random()*16777215).toString(16) + '"></input><input name="state-name' + nextPosition + '" class="content-name" value=""></input><button class="content-item-button" id="state-item-button' + nextPosition + '" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button></div></li>');
                
                $('#state-number').attr('value', nextPosition);

                break;
            case "type":
                $("#type-empty").css("display", "none");

                var nextPosition = document.getElementsByClassName('type-content-item').length + 1;

                $('#type-list').append('<li class="type-content-item" id="type-li' + nextPosition + '"><input name="type-color' + nextPosition + '" class="content-color" type="color" value="#' + Math.floor(Math.random()*16777215).toString(16) + '"></input><input name="type-name' + nextPosition + '" class="content-name" value=""></input><button class="content-item-button" id="type-item-button' + nextPosition + '" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button></li>');
                
                $('#type-number').attr('value', nextPosition);
                
                break;
            case "attribute":
                $("#attribute-empty").css("display", "none");

                var nextPosition = document.getElementsByClassName('attribute-content-item').length + 1;

                $('#attribute-list').append('<li class="attribute-content-item" id="attribute-li' + nextPosition + '"><input name="attribute-name' + nextPosition + '" class="content-name" value=""></input><button class="content-item-button" id="attribute-item-button' + nextPosition + '" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button></li>');
                
                $('#attribute-number').attr('value', nextPosition);

                break;
            case "relationship":
                $("#relationship-empty").css("display", "none");

                var nextPosition = document.getElementsByClassName('relationship-content-item').length + 1;

                $('#relationship-list').append('<li class="relationship-content-item" id="relationship-li' + nextPosition + '"><input name="relationship-name' + nextPosition + '" class="content-name" value="" style="width: 450px"></input><button class="content-item-button" id="relationship-item-button' + nextPosition + '" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button></li>');
                
                $('#relationship-number').attr('value', nextPosition);
                
                break;
        }
    }

    function deleteElement(button) {
        var typeName = button.attr('id').split('-')[0];
        button.closest("li").remove();
        listItems = document.getElementsByClassName(typeName + '-content-item');

        $('#' + typeName + '-number').attr('value', listItems.length);

        if (listItems.length < 1) {
            $('#' + typeName + '-empty').css("display", "block");
        } else {
            for (var i = 1; i <= listItems.length; i++) {
            children = listItems[i - 1].children;

                switch (typeName) {
                    case 'state':
                        listItems[i - 1].id = 'state-li' + i;

                        children[0].children[0].innerHTML = i;
                        children[0].children[1].name = "state-position" + i;
                        children[0].children[1].value = i;

                        var subChildren = children[1].children;
                        subChildren[1].name = "state-color" + i;
                        subChildren[2].name = "state-name" + i;
                        subChildren[3].id = "state-item-button" + i;
                        
                        break;
                    case 'type':
                        listItems[i - 1].id = 'type-li' + i;

                        children[0].name ="type-color" + i;
                        children[1].name ="type-name" + i;
                        children[2].id = "type-item-button" + i;

                        break;
                    default:
                        listItems[i - 1].id = typeName + '-li' + i;

                        children[0].name = typeName + "-name" + i;
                        children[1].id = typeName + "-item-button" + i
                }
            }
        }
    }

    $("document").ready(function() {
        $(document).on('click','.content-item-button',function() {
            deleteElement($(this));
        });
    });
</script>
