{% extends 'base_generic.html' %}
{% block content %} 

<h1>Account Details</h1>
<div class="account">
<!-- Profile Photo-->
<div class="profile_photo">
    <h3>Profile Photo</h3>

    {% if profile.avatar%}
    <img src="{{profile.avatar}}" alt="Avatar" class="avatar">
    {% else %}
    <img src="/avatars/users/user.png" alt="Avatar" class="avatar">
    {% endif %}

    <button type="button" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModal">Upload</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"><em>Upload Picture</em></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'user_avatar'%}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <p>
                        <input id="id_image" accept="image/*" type="file" class="" name="image">
                    </p>
                    <p>
                        ** Just click submit without selecting file to delete profile picture. **
                    </p>
                    <div class="modal-footer">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            <!--<button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>
<!-- Personal Information-->
<div class="personal_info">
    <h3>Personal Information</h3>
    <p class="errorlist">{{error}}</p>
    <form method='POST' action="{% url 'account' %}">
        {% csrf_token %}
        <label for="firstname"> First Name </label>
        <input type="text" id="firstname" name="fname" value="{{ user.first_name }}" /> <br><br>
        <label for="lastname"> Last Name </label>
        <input id="lastname" name="lname" value="{{ user.last_name }}" /> <br><br>
        <label for="username"> Username </label>
        <input id="username" name="username" value="{{ user.username }}" /><br><br>
        <label for="email"> Email </label>
        <input id="email" name="email" value="{{ user.email }}" /><br><br>
        <button type="submit" class='btn btn-primary'>Save</button>
  </form>
</div>
    
<!-- API Key-->
<div class="acc_api_key">
    <h3>API Key</h3>
    <p>{{ user_token }}</p>
</div>

<!-- Change Password-->
<div class="change_pw">
    <h3>Change Password</h3>
    <!--Write the form-->
    <a href="{% url 'change-password' %}">
        <i class="fas fa-fw fa-key"></i>
        <span>Change Password</span></a>
</div>

<!-- Delete Account-->
<div class="delete_account">
    <h3>Delete Account</h3>
    <a href="{% url 'delete' %}">Delete Account</a>
</div>
</div>
{% endblock content %}