<div id="add_user" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <form action="" method="POST">
        <!-- Modal content-->
        <div class="modal-content">
          <!-- Body -->
          <div class="modal-body">
            {% csrf_token %}
            <label class="left_aligned_label">Username</label>
            <br />
            <input class="modal_input" type="text" name="username" /><br />
            <label class="left_aligned_label">Role</label> <br />
            <select class="modal_select" id="role" name="role">
              <option value="is_admin">Administrator</option>
              <option value="is_normal">Collaborator</option>
            </select> <br />
          </div>
  
          <!-- Footer -->
          <div class="add_user">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add User</button>
            
            <input id="section" name="section" type="hidden" value="add_user">

          </div>
        </div>
      </form>
    </div>
  </div>