{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
 
  {% block title %}  <title>Maroon Task Management</title> {% endblock %}
          

  {% block stylesheets %}
  <!-- Include global stylesheets here -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
  <link rel="stylesheet" href="{% static 'css/error.css' %}">
  <link rel="stylesheet" href="{% static 'css/avatar.css' %}">
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
  <link rel="stylesheet" href="{% static 'css/board.css' %}">
  <script src="https://kit.fontawesome.com/92ed4f50f3.js" crossorigin="anonymous"></script>
  
  {% endblock stylesheets %}
          
</head>
<body>
  {% include "navigation.html" %}
  </div> 
    <div class="content"> 

        {% block content %}
         <!--The content of the page goes here-->
        {% endblock %}
        {% include "project/create_project.html" %}

      </div>
    </div>
  </div>
</body>
</html>